html {
  background-image: url("fondo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
header {
  border-bottom: 3px solid black;
}
header h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
  opacity: 0.6;
  font-weight: 700;
  margin: 0;
  letter-spacing: 5px;
  font-size: 110px;
}
.blanco,
.blanco-t {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}
.rojo {
  color: red;
}
.blanco-t {
  opacity: 0.7;
}

/* 🎯 Estilos personalizados para cada título y subtítulo */

/* ---- IZQUIERDA ---- */
.plano1 {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 45px;
  text-shadow: 3px 3px 0 black;
  color: rgb(245, 85, 37);
}
.subtitulo1 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 251);
  text-shadow: 2px 2px 0 black;
}

.plano2 {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 45px;
  text-shadow: 3px 3px 0 black;
  color: rgb(255, 255, 255);
}
.subtitulo2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0 black;
}

.plano3 {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 30px;
  text-shadow: 3px 3px 0 black;
  color: rgb(160, 158, 154);
}
.subtitulo3 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0 black;
}

/* ---- DERECHA ---- */
.plano4 {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 45px;
  text-shadow: 3px 3px 0 black;
  color: rgb(255, 255, 255);
  text-align: right;
}
.subtitulo4 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0 black;
  text-align: right;
}

.plano5 {
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 35px;
  text-shadow: 3px 3px 0 black;
   color: rgb(245, 85, 37);
   text-align: right;
}
.subtitulo5 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0 black;
  text-align: right;
}

/* ---- Contenedores ---- */
.articulos-izquierda,
.articulos-derecha {
  border: 5px solid black;
  padding: 10px;
}
.articulos-izquierda {
  margin: 20px 0 10px 20px;
}
.seccion-izquierda {
  width: 25%;
  float: left;
}
.seccion-derecha {
  float: right;
  width: 25%;
}
.articulos-derecha {
  margin: 40px 20px 30px 0; 
}
.articulos-derecha:first-child {
  margin: 60px 20px 10px 0;
}
.articulos-derecha:last-child {
  margin: 20px 20px 50px 0; 
}

/* ---- Responsive ---- */
@media (max-width: 1017px) {
  .seccion-izquierda,
  .seccion-derecha {
    width: 35%;
  }
  .articulos-derecha {
    margin: 20px 10px 15px 0;
  }
}
